{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row mb-2">
  <div class="col-sm-2">
    <a class="btn btn-primary" href="{% url 'core:send_email_simple_view' %}">Enviar e-mail</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-info" href="{% url 'core:send_email_html_view' %}">Enviar e-mail em HTML</a>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-success" href="{% url 'core:send_email_html_template_view' %}">Enviar e-mail em HTML com template</a>
  </div>
  <div class="col-sm-3">
    <a class="btn btn-success" href="{% url 'core:send_email_with_licenses' %}">Enviar e-mail com as licenças</a>
  </div>
</div>

<!-- Members -->
{% include "dashboard/members.html" %}
<!-- Graphic -->
{% include "dashboard/traffic.html" %}
{% endblock content %}