<p>Olá <strong>{{ seller_name }}</strong>,</p>
<p>O cliente: <strong>{{ customer_name }}</strong> ({{ customer_email }}) possui <strong>{{ quantity_licenses }}</strong> licenças que expiram nas datas a seguir:</p>

<table style="border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border-bottom: 2px solid #ddd; padding: 5px; text-align: left;">Id</th>
      <th style="border-bottom: 2px solid #ddd; padding: 5px; text-align: left;">Tipo</th>
      <th style="border-bottom: 2px solid #ddd; padding: 5px; text-align: left;">Nome do pacote</th>
      <th style="border-bottom: 2px solid #ddd; padding: 5px; text-align: left;">Data de validade</th>
    </tr>
  </thead>
  <tbody>
    {% for license in licenses %}
      <tr>
        <td style="padding: 5px; text-align: left;">{{ license.id }}</td>
        <td style="padding: 5px; text-align: left;">{{ license.type_license }}</td>
        <td style="padding: 5px; text-align: left;">{{ license.name }}</td>
        <td style="padding: 5px; text-align: left;">{{ license.expiration_date|date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>Atenciosamente,</p>

<p>Regis Santos</p>