<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:index' %}">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <span class="badge badge-primary">NEW</span>
        </a>
      </li>
      <!-- <li class="nav-title">Theme</li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:colors' %}">
          <i class="nav-icon icon-drop"></i> Colors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:typography' %}">
          <i class="nav-icon icon-pencil"></i> Typography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:list' %}">
          <i class="nav-icon icon-list"></i> List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:detail' %}">
          <i class="nav-icon icon-book-open"></i> Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:create' %}">
          <i class="nav-icon icon-puzzle"></i> Add</a>
      </li>
      <li class="nav-title">Components</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-puzzle"></i> Base</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:breadcrumb' %}">
              <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:cards' %}">
              <i class="nav-icon icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:carousel' %}">
              <i class="nav-icon icon-puzzle"></i> Carousel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:collapse' %}">
              <i class="nav-icon icon-puzzle"></i> Collapse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:forms' %}">
              <i class="nav-icon icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:jumbotron' %}">
              <i class="nav-icon icon-puzzle"></i> Jumbotron</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:list_group' %}">
              <i class="nav-icon icon-puzzle"></i> List group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:navs' %}">
              <i class="nav-icon icon-puzzle"></i> Navs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:pagination' %}">
              <i class="nav-icon icon-puzzle"></i> Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:popovers' %}">
              <i class="nav-icon icon-puzzle"></i> Popovers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:progress' %}">
              <i class="nav-icon icon-puzzle"></i> Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:scrollspy' %}">
              <i class="nav-icon icon-puzzle"></i> Scrollspy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:switches' %}">
              <i class="nav-icon icon-puzzle"></i> Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:tables' %}">
              <i class="nav-icon icon-puzzle"></i> Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:tabs' %}">
              <i class="nav-icon icon-puzzle"></i> Tabs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:tooltips' %}">
              <i class="nav-icon icon-puzzle"></i> Tooltips</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-cursor"></i> Buttons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:buttons' %}">
              <i class="nav-icon icon-cursor"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:button_group' %}">
              <i class="nav-icon icon-cursor"></i> Buttons Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:dropdowns' %}">
              <i class="nav-icon icon-cursor"></i> Dropdowns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:brand_buttons' %}">
              <i class="nav-icon icon-cursor"></i> Brand Buttons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:charts' %}">
          <i class="nav-icon icon-pie-chart"></i> Charts</a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-star"></i> Icons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:coreui_icons' %}">
              <i class="nav-icon icon-star"></i> CoreUI Icons
              <span class="badge badge-success">NEW</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:flags' %}">
              <i class="nav-icon icon-star"></i> Flags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:font_awesome' %}">
              <i class="nav-icon icon-star"></i> Font Awesome
              <span class="badge badge-secondary">4.7</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:simple_line_icons' %}">
              <i class="nav-icon icon-star"></i> Simple Line Icons</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-bell"></i> Notifications</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:alerts' %}">
              <i class="nav-icon icon-bell"></i> Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:badge' %}">
              <i class="nav-icon icon-bell"></i> Badge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:modals' %}">
              <i class="nav-icon icon-bell"></i> Modals</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{ url 'core:widgets' %}">
          <i class="nav-icon icon-calculator"></i> Widgets
          <span class="badge badge-primary">NEW</span>
        </a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">Extras</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:login' %}" target="_top">
              <i class="nav-icon icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:register' %}" target="_top">
              <i class="nav-icon icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:error404' %}" target="_top">
              <i class="nav-icon icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:error500' %}" target="_top">
              <i class="nav-icon icon-star"></i> Error 500</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{ url 'core:invoice' %}" target="_top">
              <i class="nav-icon icon-star"></i> Invoice</a>
          </li>
        </ul>
      </li> -->
      <!-- <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
          <i class="nav-icon icon-cloud-download"></i> Download CoreUI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
          <i class="nav-icon icon-layers"></i> Try CoreUI
          <strong>PRO</strong>
        </a>
      </li> -->
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>